body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: url('https://images.unsplash.com/photo-1548092372-0d1bd40894a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80'); */
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    
    
}


.showcase {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 35px;
}



.showcase-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.my-name {
    color: #ffffff;
    letter-spacing: 3px;
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Fauna One', serif;
    margin: 3px 0;

}

.my-title {
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 18px;
}

.my-work-btn {
   margin: 10px;
   width: 50px;
   padding: 12px 25px;
   border: solid 2px #3498db;
   color: #ffffff;
   /* border-radius: 24px; */
   background-color: #3498db;
}

.resume {
    margin: 10px;
   width: 50px;
   padding: 12px 25px;
   border: solid 2px #3498db;
   color: #ffffff;
   /* border-radius: 24px; */
   background-color: #3498db;
}


.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

a {
    text-decoration: none;
}



.home-link-item {
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    padding: 5px 10px;
    
}

.home-link-item:hover{

    border-bottom: 2px solid #3498db;
    padding: 3px;
}


/* .social-media {
    display: flex;
    justify-content: center;
} */

.social-media {
    position: absolute;
    top: 40px;
    right: 40px;
}

.fa-linkedin-square {
    color: white;
    margin: 15px;
}

.fa-github-square {
    color: white;
    margin: 15px;
}

.aboutme-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;

}

.profile-img {
    height: 300px;
    width: 350px;
    border-radius: 50%;
    margin: 25px 30px 0 -20px;
}

.aboutme-title {
    text-align: center;
    border-bottom: 2px solid #ffffff;
    padding: 10px;
    color: #ffffff;
    margin-bottom: 5px;
}


.aboutme-p {
    width: 450px;
    text-align: center;
    color: #ffffff;
    margin: 15px 0 0 30px;
    line-height: 1.5rem;
}

/* .resume {
    position: absolute;
    right: 470px;
    bottom: 170px;
    color: #ffffff;
    font-size: 18px;
    display: block;
    text-align: center;
    border: 2px solid #3498db;
    background-color: #3498db;
    padding: 10px 20px;
    margin: 10px;
} */

/* .resume:hover {
    background-color: #ffffff;
    color: #3498db;
} */

/* side-menu */
.fa-bars {
    color: #ffffff;
    position: absolute;
    top: 50px;
    left: 100px;
    transition: all .6s;
    cursor: pointer;
}

.sidemenu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 250px;
    background-color: #333333;
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all .5s;
}
.sidemenu a{
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 20px;
    color: #999;
    display: block;

}

.sidemenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
}

