body{
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

.link-item {
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 60px 17px 0;
    
    
}

.fa-home {
    color: #ffffff;
}

.link-item:hover{
    border-bottom: solid 2px #3498db;
    padding: 1px;
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    letter-spacing: 3px;
}

.projects-nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    
    
}

header {
    height: 80px;
    background-color: #000000;
    padding-top: 30px;
}

.projects {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */

    /* width: 100%; */
    display: flex;
  justify-content: space-evenly;
  width: 650px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.projects-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.project-img {
    height: 200px;
    width: 250px;
    border-radius: 7px;
    box-shadow: 5px 5px 3px #dfe4ea;
}

.project-img:hover {
    padding: 2px;
}

.contact-group {
    display: flex;
    flex-direction: column;
    margin: 30px;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 15px;
    width: 280px;
    background-color: rgba(0, 0, 0, 0.2);
    
}

.contact-item {
    margin: 16px;
    color: #ffffff;
    font-size: 18px;
}

.contact-item:hover {
    padding: 2px;
}

a {
    text-decoration: none;
}